root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{package.json,*.yml}]
indent_style = space
indent_size = 2

# Trailing whitespace is significant in markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.{sh,bashrc,bash_profile}]
indent_style = space
indent_style = 2
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf

[Dockerfile]
indent_style = space
indent_size = 4
end_of_line = lf
max_line_length = 80

[Vagrantfile]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.rb]
indent_style = space
indent_size = 2
