[user]
	name = Ricardo de Jesus
	email = ricardo.meb.jesus@gmail.com
[github]
	username = rmebjesus
[core]
	editor = vim

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
